{{>layout/header}}

    <h1>천개의 레시피</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/recipe/save" role="button" class="btn btn-primary">레시피 등록</a>
                {{#memberName}}
                    Logged in as : <span id = "member">{{memberName}}</span>
                    <a href="/logout" role="button" class="btn btn-secondary active">로그아웃</a>
                {{/memberName}}
                {{^memberName}}
                    <a href="/oauth2/authorization/google" role="button" class="btn btn-danger active">로그인</a>
                {{/memberName}}
            </div>
        </div>

        <br>
        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>글번호</th>
                <th>요리 제목</th>
                <th>작성자</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#recipes}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/recipe/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{hits}}</td>
                </tr>
            {{/recipes}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}